name: p2p-command

on:
  workflow_call:
    secrets:
      env_vars:
        required: false
    inputs:
      promotion-stage:
        required: true
        type: string
      dry-run:
        required: false
        type: boolean
        default: false
      source_matrix:
        required: true
        type: string
      dest_github_env:
        required: true
        type: string
      app-name:
        required: false
        type: string
        default: ''
      tenant-name:
        required: false
        type: string
        default: ''
      version:
        required: false
        type: string
        default: ''
      region:
        required: false
        type: string
        default: europe-west2
      working-directory:
        required: false
        type: string
        default: '.'
      checkout-version:
        required: false
        type: string

jobs:
  lookup:
    runs-on: ubuntu-24.04
    environment: ${{ fromJson(inputs.source_matrix).include[0]['deploy_env'] }}
    env:
      TENANT_NAME: ${{ inputs.tenant-name != '' && inputs.tenant-name || vars.TENANT_NAME }}
      REGISTRY: ${{ inputs.region }}-docker.pkg.dev/${{ vars.PROJECT_ID }}/tenant/${{ inputs.tenant-name != '' && inputs.tenant-name || vars.TENANT_NAME }}
      PROJECT_ID: ${{ vars.PROJECT_ID }}
      SERVICE_ACCOUNT: p2p-${{ inputs.tenant-name != '' && inputs.tenant-name || vars.TENANT_NAME }}@${{ vars.PROJECT_ID }}.iam.gserviceaccount.com
      WORKLOAD_IDENTITY_PROVIDER: projects/${{ vars.PROJECT_NUMBER }}/locations/global/workloadIdentityPools/p2p-${{ inputs.tenant-name != '' && inputs.tenant-name || vars.TENANT_NAME }}/providers/p2p-${{ inputs.tenant-name != '' && inputs.tenant-name || vars.TENANT_NAME }}
    outputs:
      source_registry: ${{ env.REGISTRY }}
      source_project_id: ${{ env.PROJECT_ID }}
      source_service_account: ${{ env.SERVICE_ACCOUNT }}
      source_workflow_identity_provider: ${{ env.WORKLOAD_IDENTITY_PROVIDER }}
    steps:
      - name: print env context
        run: |
          yq 'del(.env_vars)' -p=json -C <<EOT
          ${{ toJSON(env) }}
          EOT

  promote-image:
    name: promote-to-${{ inputs.promotion-stage }}
    runs-on: ubuntu-24.04
    needs: [lookup]
    environment: ${{ inputs.dest_github_env }}
    env:
      env_vars: ${{ secrets.env_vars }}
      BASE_DOMAIN: ${{ vars.BASE_DOMAIN }}
      INTERNAL_SERVICES_DOMAIN: ${{ vars.INTERNAL_SERVICES_DOMAIN }}
      DEST_GITHUB_ENV: ${{ inputs.dest_github_env }}
      DPLATFORM: ${{ vars.DPLATFORM }}
      PROJECT_ID: ${{ vars.PROJECT_ID }}
      PROJECT_NUMBER: ${{ vars.PROJECT_NUMBER }}
      REGION: ${{ inputs.region }}
      REGISTRY: ${{ inputs.region }}-docker.pkg.dev/${{ vars.PROJECT_ID }}/tenant/${{ inputs.tenant-name != '' && inputs.tenant-name || vars.TENANT_NAME }}
      SERVICE_ACCOUNT: p2p-${{ inputs.tenant-name != '' && inputs.tenant-name || vars.TENANT_NAME }}@${{ vars.PROJECT_ID }}.iam.gserviceaccount.com
      VERSION: ${{ inputs.version }}
      SOURCE_GITHUB_ENV: ${{ fromJson(inputs.source_matrix).include[0]['deploy_env'] }}
      SOURCE_PROJECT_ID: ${{ needs.lookup.outputs.source_project_id }}
      SOURCE_REGISTRY: ${{ needs.lookup.outputs.source_registry }}
      SOURCE_SERVICE_ACCOUNT: ${{ needs.lookup.outputs.source_service_account }}
      SOURCE_WORKLOAD_IDENTITY_PROVIDER: ${{ needs.lookup.outputs.source_workflow_identity_provider }}
      TENANT_NAME: ${{ inputs.tenant-name != '' && inputs.tenant-name || vars.TENANT_NAME }}
      WORKLOAD_IDENTITY_PROVIDER: projects/${{ vars.PROJECT_NUMBER }}/locations/global/workloadIdentityPools/p2p-${{ inputs.tenant-name != '' && inputs.tenant-name || vars.TENANT_NAME }}/providers/p2p-${{ inputs.tenant-name != '' && inputs.tenant-name || vars.TENANT_NAME }}
    permissions:
      contents: read
      id-token: write

    steps:
      - name: print env context
        run: |
          yq 'del(.env_vars)' -p=json -C <<EOT
          ${{ toJSON(env) }}
          EOT

      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.dry-run == false && inputs.checkout-version || '' }}


      - name: Authenticate to Google Cloud (Source)
        id: auth-source
        if: inputs.dry-run == false
        uses: google-github-actions/auth@v2
        with:
          export_environment_variables: false
          workload_identity_provider: ${{ env.SOURCE_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ env.SOURCE_SERVICE_ACCOUNT }}
          project_id: ${{ env.SOURCE_PROJECT_ID }}
          token_format: access_token
          access_token_lifetime: 3600s


      - name: Authenticate to Google Cloud (Dest)
        id: auth-dest
        if: inputs.dry-run == false
        uses: google-github-actions/auth@v2
        with:
          export_environment_variables: false
          workload_identity_provider: ${{ env.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ env.SERVICE_ACCOUNT }}
          project_id: ${{ env.PROJECT_ID }}
          token_format: access_token
          access_token_lifetime: 3600s

      - name: Decode environment variables
        shell: bash
        run: |
          IFS=$'\n'
          for i in $env_vars; do
            i="${i%%=*}"="${i#*=}"
            echo "::add-mask::${i#*=}"
            printf '%s\n' "${i//\\/\\\\}" >> "${GITHUB_ENV}"
          done

      - name: Set p2p variables
        id: setup-p2p-variables
        run: |
          env | grep "^P2P_" | sort
          export P2P_TENANT_NAME="${{ env.TENANT_NAME }}"
          export P2P_APP_NAME=${{ inputs.app-name }}
          export P2P_VERSION=${{ inputs.version }}
          export P2P_REGISTRY=${{ inputs.region }}-docker.pkg.dev/${{ vars.PROJECT_ID }}/tenant/${{ env.TENANT_NAME }}
          export P2P_REGISTRY_FAST_FEEDBACK_PATH=fast-feedback
          export P2P_REGISTRY_EXTENDED_TEST_PATH=extended-test
          export P2P_REGISTRY_PROD_PATH=prod
          export P2P_REGISTRY_FAST_FEEDBACK=${P2P_REGISTRY}/${P2P_REGISTRY_FAST_FEEDBACK_PATH}
          export P2P_REGISTRY_EXTENDED_TEST=${P2P_REGISTRY}/${P2P_REGISTRY_EXTENDED_TEST_PATH}
          export P2P_REGISTRY_PROD=${P2P_REGISTRY}/${P2P_REGISTRY_PROD_PATH}
          if [[ "${{ env.TENANT_NAME }}" == "${{ inputs.app-name }}" ]]; then
            P2P_NAMESPACE="${{ env.TENANT_NAME }}"
          else
            P2P_NAMESPACE="${{ env.TENANT_NAME }}-${{ inputs.app-name }}"
          fi
          export P2P_NAMESPACE_FUNCTIONAL=${P2P_NAMESPACE}-functional
          export P2P_NAMESPACE_NFT=${P2P_NAMESPACE}-nft
          export P2P_NAMESPACE_INTEGRATION=${P2P_NAMESPACE}-integration
          export P2P_NAMESPACE_EXTENDED=${P2P_NAMESPACE}-extended
          export P2P_NAMESPACE_PROD=${P2P_NAMESPACE}-prod
          env | grep "^P2P_" | sort | tee "${GITHUB_ENV}"

      - name: Setup skopeo
        id: setup-skopeo
        if: ${{ inputs.dry-run == false }}
        env:
          SOURCE_ACCESS_TOKEN: ${{ steps.auth-source.outputs.access_token }}
          DEST_ACCESS_TOKEN: ${{ steps.auth-dest.outputs.access_token }}
        run: |
          skopeo login -u oauth2accesstoken --password-stdin "${SOURCE_REGISTRY}" < <(echo "${SOURCE_ACCESS_TOKEN}")
          skopeo login -u oauth2accesstoken --password-stdin "${REGISTRY}" < <(echo "${DEST_ACCESS_TOKEN}")

      - name: Promote to ${{ inputs.promotion-stage }}
        id: run-promotion
        if: ${{ inputs.dry-run == false }}
        working-directory: ${{ inputs.working-directory }}
        env:
          SOURCE_AUTH_OVERRIDE: ${{ steps.auth-source.outputs.credentials_file_path }}
          SOURCE_ACCESS_TOKEN: ${{ steps.auth-source.outputs.access_token }}
          DEST_AUTH_OVERRIDE: ${{ steps.auth-dest.outputs.credentials_file_path }}
          DEST_ACCESS_TOKEN: ${{ steps.auth-dest.outputs.access_token }}
        run: |
          make p2p-promote-to-${{ inputs.promotion-stage }}
